.topo{
    /*background-color: #990000;*/
    opacity: 0.5;
}

.bg-section-header-site{
    background: url(../img/comida-japonesa.jpg) no-repeat center;
    background-size: 100% auto;
    background-color: #FFFFFF;
}

.header-size-site{
    height:400px;
    margin-top: -20px;
    margin-bottom: 50px;
}

.text-color-1{
    color: #1f1f1f;
}