.borda{
    border: 1px solid blue;
}

.topo{
    /*background-color: #990000;*/
    opacity: 0.5;
}

.bg-section-header-site{
    background: url(../img/comida-japonesa.jpg) no-repeat center;
    background-size: 100% auto;
    background-color: #FFFFFF;
}

.active-header {
    opacity: 1;
}

.header-size-site{
    height:400px;
    margin-top: -20px;
    margin-bottom: 50px;
}

.text-color-1{
    color: #1f1f1f;
    font-weight: 800;
}

.linha-header-index{
    border: 2px solid black;
    width: 100px;
}

.text-title-description{
    margin-top: 50px;
    color: #8c8c8c;
    margin-bottom: 50px;
}

.bg-section-index-menu{
    background-image: url(../img/bg-1.jpg);
    padding: 15px 0 40px 0;
}

.banner-menu-h3{
    font-weight: 500;
    color: #ffffff;
}

.banner-menu-h3-black{
    font-weight: 500;
    color: black;
}

.banner-menu-img{
    width: 200px;
}

.linha-header-index-menu{
    border: 2px solid white;
    width: 50px;
}

.linha-header-index-menu-black{
    border: 2px solid black;
    width: 50px;
}

.text-menu-index{
    color: rgb(224, 204, 188);
}

.bg-section-index-horario{
    background-image: url(../img/bg-relógio.png);
    background-size: cover;
    padding: 15px 0 40px 0;
    width: 100%;
    height: 100%;
    margin-top: 50px;
}

.jumbotron-content{
    margin-top: -20px;
}

.bg-section-index-carousel{
    background-image: url(../img/fish-background-retangulo-60.png);
    background-size: cover;
    padding: 15px 0 40px 0;
    width: 100%;
    height: 80%;
    margin-top: 50px;
}

.carousel-img{
    width: 150px;
}

.carousel-text{
    margin-top: -130px;
}

.bg-section-index-footer{
    background-image: url(../img/rodapé.png);
    background-size: cover;
    width: 100%;
    height: 80%;
}

.bg-footer{
    background-color: rgb(96, 0, 28);
    width: 100%;
}

